@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700);



/* #959595 -> #898989 */
/* Normalize */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,iframe{margin:0;padding:0;}
img,fieldset{border:0;}
img{vertical-align:top;}
ul,ol{list-style:none;}
em,address{font-style:normal;}
a{text-decoration:none;color:#4a66ff;}
a:hover{text-decoration:none;}
.paginate a,
a[class*="btn"],
a[class*="more"],
a[class*="title"],
[class*="title"] a,
a[class*="title"] span{text-decoration:none !important;}
a[class*="title"]:hover,
[class*="title"] a:hover{color:#4a66ff !important;}
table{table-layout:fixed;border-collapse:collapse;border-spacing:0;empty-cells:show;}
caption,legend{visibility:hidden;height:0;line-height:0;}
.blind{position:absolute;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;}
body{font-family:"Poppins",  sans-serif;font-size:14px;line-height:1.5;color:#464646;}


/* Common style */
.clfix::before,
.clfix::after{content:"";display:table;}
.clfix::after{clear:both;}
.fl-l{float:left;}
.fl-r{float:right;}
.fl-n{float:none !important;}
.cl-b{clear:both;}
.ta-l{text-align:left !important;}
.ta-r{text-align:right !important;}
.ta-c{text-align:center !important;}
.fz30{font-size:30px !important;}
.fz24{font-size:24px !important;}
.fz20{font-size:20px !important;}
.fz18{font-size:18px !important;}
.fz16{font-size:16px !important;}
.fz14{font-size:14px !important;}
.fz12{font-size:12px !important;}
.fw-b{font-weight:bold !important;}
.c-bl{color:#4a66ff !important;}
.c-gy{color:#959595 !important;}
.c-og{color:#fe4b28 !important;}
.bd-n{border:none !important;}
.ellipsis{width:100%;overflow:hidden;-ms-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;word-wrap:break-word;}
	/* box-mod - 쓸모없어지면 이것만 지우자 */
.bx-mt50{margin-top:50px !important;}

html{
	min-width: 1170px;
}
/* Skip Navigation */
#skip-nav{display:block;overflow:hidden;width:1px;height:1px;margin:0 -1px -1px 0;padding:0;font-size:0;line-height:0;}
#skip-nav:hover,
#skip-nav:active,
#skip-nav:focus{position:absolute;z-index:1000;width:100%;height:auto;margin:0;padding:13px 0;text-align:center;font-weight:700;font-size:25px;line-height:1.5;color:#333;background-color:#eee;}
#wrap{min-width:1600px;background-color:#f4f4f4;}
#wrap>div>div.inner::after,
#container::after{content:"";display:block;height:0px;clear:both;visibility:hidden;}
#header{
	position:fixed;
	z-index:100;
	left:0;
	top:0;
	width:100%;
	color:#2b2c30;
	background:#fff;
	font-family:"Poppins";
	min-width:1170px;}
#header>.inner{
	overflow:hidden;height:60px;padding:0px 0px 0px 31px;
	/*width:calc(100% - 31px);display: -webkit-box;
	display: flex;
	-webkit-box-align: center;*/}
#header>.inner *{
	box-sizing: border-box;
}
#header>.inner>a{
	float:left;
	width: 320px; 
	font-size: 26px;
	font-weight: 500;
	margin-top:10px;
	text-decoration:none;
	outline: none;
	color:#37383b;
	
}
#header>.inner>a:hover{
	transition-duration: 500ms;
    color: #1abc9c;}
#header .logo{float:left;}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
#header .nav-content{
	float:right;
	overflow:hidden;
	width: calc(100%-351px);
	height:60px;
	/*display: flex;*/
	align-items: center;
}
#header .user-icon{float:right;
  float:right;
  position: relative;
  z-index: 1;
  padding: 0 30px;
  height: 60px;
  line-height:  60px;
  font-size: 16px;
  border-left: 1px solid #dedede;
  text-align: center;
}
#header .user-icon:hover{	
	transition-duration: 500ms;
    text-decoration: none;
    outline: none;
	color: #ed3974;
}
#header .nav-menu-box{
	float:right;
	height:60px;
}
#header .nav-search-area{
	float:right;
	width: 210px;
	height: 60px;
	border-left: 1px solid #dedede;
	display: flex;
	position: relative;
    z-index: 1;
	margin-left: 30px;

}

#header .nav-search-area input{
	transition-duration: 500ms;
    width: 210px;
    height: 60px;
    border: none;
    color: #777777;
    font-size: 14px;
    font-style: italic;
    padding: 0 10px;
}
input,textarea:focus {
	box-shadow: none;
    outline: none;
}

#header .nav-search-area button{
	position: absolute;
    width: auto;
    height: 60px;
    background-color: transparent;
    top: 50%;
    right: 10px;
    font-size: 16px;
    z-index: 99;
    border: none;
    cursor: pointer;
    color: #1a1a1a;
	transform: translateY(-50%);
	box-sizing: border-box;


	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    padding: .375rem .75rem;
	line-height: 1.5;
	-webkit-appearance: button;
	text-transform: none;
	overflow: visible;
	align-items: flex-start;
}
#header .nav-search-area button:focus{
	box-shadow: none;
}
#header .nav-search-area button:hover{
	transition-duration: 500ms;
	color: #ed3974;
}
#nav{float:right;}
#header .logo{width:320px;height:60px;margin-right:136px;}
#nav{margin-top:15px;margin-right:18px}
#nav li{float:left;}
#nav li+li{margin-left:18px;}
#nav li a{
	text-decoration:none;
	outline: none;
	display:block;
	padding:3px 5px 4px;
	font-size:16px;
	color:#000000;}
#nav li a:hover{
	transition-duration: 500ms;
	color: #ed3974;}
#sub-nav{float:right;}
#sub-nav li{float:left;padding:6px 7px 2px;}
#sub-nav li a{display:block;padding:5px 2px;}
#sub-nav li a span{color:#fe4b28;}
#container{position:relative;padding-top:65px;background-color:#f4f4f4;}
#aside{float:left;width:219px;padding:55px 0 40px 30px;}
#aside li+li{margin-top:33px;}
#aside li ul{margin:12px 0 0 20px;}
#aside li li+li{margin-top:11px;}
#aside li a{display:block;font-size:18px;color:#464646;text-decoration:none;}
#aside li li a{font-size:15px;color:#898989;}
#aside li.hotshot::before{position:absolute;left:0;width:5px;height:30px;content:"";border-top-right-radius:3px;border-bottom-right-radius:3px;background-color:#4a66ff;}
#aside a:hover,
#aside li.active>a{color:#4a66ff;}
#contents{float:left;width:1080px;min-height:calc(100vh - 348px);padding:46px 40px 175px 100px;border-left: 1px solid #eee;}
#contents.only-child{float:none;width:1452px;padding:46px 34px 180px;border-left:none;}
#contents.only-child>.inner::before,
#contents.only-child>.inner::after{content:"";display:table;}
#contents.only-child>.inner::after{clear:both;}
#contents.only-child .aside{float:left;width:214px;}
#contents.only-child .og{position:relative;float:left;width:1080px;margin-left:76px;margin-left:100px;}
#contents>.inner{position:relative;}
#contents>.inner>:last-child,
#contents>.inner>form>:last-child{margin-bottom:0 !important;}
#go-back{position:fixed;bottom:195px;left:1550px;width:40px;height:40px;}
#scroll-to-top{display:none;position:fixed;bottom:135px;left:1550px;width:40px;height:40px;}
.footer-area {
	position: relative;
	height: 60px;
    z-index: 1;
    padding: 10px 0;
	background-color: #0a0a0a;
	text-align:center;
}
#footer>.inner{width:100%;text-align:center;}
#footer address{text-align:center;font-size:14px;color:#898989;}

.popup .popup-con {
	width: 100px;
	height: 100px;
	background-color: #fff;
}
